<h3>Comienzo con el trabajo de ETL sobre mis datasets<h3>

Importo las librerías a utilizar

In [2]:
import pandas as pd

Abro los datasets e imprimo un sample para realizar un análisis exploratorio general de mis datos.
Además, creo copias auxiliares de mis datasets como backup.

In [3]:
df_amazon = pd.read_csv("app\\datasets\\amazon_prime_titles.csv",delimiter = ',',encoding = "utf-8")
df_amazonaux = df_amazon.copy()
df_amazon.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9662,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,NaN,2021,16+,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t..."
8090,s8091,Movie,Saturday Marijuana Eyez,CHILLZ MENTAL,"DAKSTON BROWN, RAYMOND B, DONTE CROSS, L Whash...",NaN,NaN,2017,18+,54 min,"Action, Arts, Entertainment, and Culture, Comedy","A sunny afternoon in Compton, Ca gets real hea..."
2301,s2302,TV Show,Gracepoint,NaN,"David Tennant, Anna Gunn, Michael Peña, Virgin...",NaN,NaN,2014,13+,1 Season,"Drama, Suspense",When a young boy is found dead on an idyllic b...
6927,s6928,Movie,Whitey: United States of America v. James J. B...,Joe Berlinger,"James J. Bulger, Jr.",NaN,NaN,2014,R,107 min,"Documentary, Suspense","The true story of Whitey Bulger, inspiration f..."
3828,s3829,Movie,Lisa Lampanelli: Back To The Drawing Board,Jay Chapman,Lisa Lampanelli,NaN,NaN,2015,18+,60 min,"Arts, Entertainment, and Culture, Comedy, Spec...","Brash, bold and never afraid to go blue, comed..."

In [4]:
df_disney = pd.read_csv("app\\datasets\\disney_plus_titles.csv",delimiter = ',',encoding = "utf-8")
df_disneyaux = df_disney.copy()
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
533,s534,TV Show,Birth of Europe,NaN,Mark Halliley,United Kingdom,"May 1, 2020",2014,TV-G,1 Season,Docuseries,Birth of Europe reveals the extraordinary stor...
758,s759,Movie,Boundin',Bud Luckey,Bud Luckey,United States,"November 12, 2019",2004,G,6 min,"Animation, Family, Kids",The musical story of a dancing sheep.
42,s43,Movie,Alvin and the Chipmunks: Chipwrecked,Mike Mitchell,"Jason Lee, David Cross, Jenny Slate, Justin Lo...",United States,"November 5, 2021",2011,G,87 min,"Comedy, Family, Music",The Chipmunks and Chipettes get stranded on a ...
772,s773,Movie,Camp Rock 2: The Final Jam,Paul Hoen,"Demi Lovato, Joe Jonas, Nick Jonas, Kevin Jona...",United States,"November 12, 2019",2010,TV-G,101 min,"Coming of Age, Music, Musical","To save Camp Rock, Mitchie challenges Camp Sta..."
1173,s1174,Movie,Sacred Planet,Jon Long,"Robert Redford, Arapata McKay, Tsaan Ciqae, Ma...","Canada, Malaysia, United States","November 12, 2019",2004,G,47 min,"Animals & Nature, Documentary, Family",Visit some of the most exotic and beautiful pl...

In [5]:
df_hulu = pd.read_csv("app\\datasets\\hulu_titles.csv",delimiter = ',',encoding = "utf-8")
df_huluaux = df_hulu.copy()
df_hulu.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1566,s1567,TV Show,Welcome to Plathville,NaN,NaN,United States,"July 1, 2020",2019,TV-PG,1 Season,Reality,"The Plaths are a strikingly blonde, blue-eyed ..."
1573,s1574,TV Show,Merlin,NaN,NaN,United Kingdom,"June 25, 2020",2008,TV-14,5 Seasons,"Drama, International, Science Fiction",The adventures of the legendary sorcerer as a ...
81,s82,Movie,Chasing Papi,NaN,NaN,NaN,"October 1, 2021",2003,PG,80 min,"Comedy, Drama, Romance",A Latino Casanova courts three Hispanic women ...
1871,s1872,TV Show,Flea Market Flip,NaN,NaN,United States,"January 22, 2020",2012,TV-G,4 Seasons,"Family, Lifestyle & Culture",Contestants are given $500 to buy items that t...
296,s297,Movie,Solace,NaN,NaN,NaN,"September 1, 2021",2015,R,102 min,"Drama, Horror, Mystery","Unable to solve a series of homicides, the FBI..."

In [6]:
df_netflix = pd.read_json("app\\datasets\\netflix_titles.json",orient="records")
df_netflixaux = df_netflix.copy()
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3046,s3047,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...",Mexico,"January 3, 2020",2020,TV-14,90 min,"Comedies, International Movies, Romantic Movies",Thirteen-year-old José Miguel is immune to 199...
1106,s1107,Movie,Cross: Rise of the Villains,"Patrick Durham, Paul G. Volk","Brian Austin Green, Vinnie Jones, Lori Heuring...",United States,"April 2, 2021",2019,R,100 min,Action & Adventure,"Armed with a mighty ancient amulet, a team of ..."
7763,s7764,TV Show,Power Rangers Dino Thunder,None,"James Napier, Kevin Duhaney, Emma Lahana, Jaso...",United States,"January 1, 2016",2004,TV-Y7,1 Season,Kids' TV,Dr. Tommy Oliver returns when his students dis...
2055,s2056,Movie,Freaks – You're One of Us,Felix Binder,"Cornelia Gröschel, Tim Oliver Schultz, Wotan W...",Germany,"September 2, 2020",2020,TV-MA,93 min,"Dramas, Independent Movies, International Movies","Tipped by a mysterious tramp, a meek fry cook ..."
7368,s7369,TV Show,Mad Men,None,"Jon Hamm, Elisabeth Moss, Vincent Kartheiser, ...",United States,"March 22, 2015",2014,TV-14,7 Seasons,TV Dramas,"Set in 1960s New York City, this award-winning..."

<h3>Comienzo un análisis general de mis datasets para saber cuántos datos faltantes (None/NaN/null) y datos repetidos se encuentran para luego eliminarlos.<h3>

Empiezo la limpieza de mi dataset "df_amazon".

In [7]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_amazon = df_amazon.drop(columns=["show_id","director","country","date_added","rating","description"])

In [8]:
#df_amazon.count().sum()
#df_amazon.isnull().sum().sum()

print("El número total de registros es de:",df_amazon.count().sum(),"\nEl número de registros faltantes es de:",df_amazon.isnull().sum().sum())

El número total de registros es de: 56775
El número de registros faltantes es de: 1233

In [9]:
#Traigo los valores faltantes por columna
df_amazon.isnull().sum()

type               0
title              0
cast            1233
release_year       0
duration           0
listed_in          0
dtype: int64

In [10]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_amazon = df_amazon.fillna("Sin Datos")

In [11]:
print("El número total de registros en el dataset es de:",df_amazon.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_amazon.isnull().sum().sum())

El número total de registros en el dataset es de: 58008
El número de registros faltantes luego del fillna() es de: 0

In [12]:
#Traigo los valores faltantes por columna luego del fillna()
df_amazon.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [13]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_amazon.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Amazon es de:",df_amazon.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Amazon es de: 9668

In [14]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_amazon.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Encontramos que hay valores en cast con nombre "1","1,2,3" por lo que cambiaremos estos valores por Sin Datos
df_amazon.sort_values(by=['cast'],ascending=True).head(36)

,type,title,cast,release_year,duration,listed_in
7217,TV Show,Series before 1C onboarding - 7,1,2021,1 Season,Action
7239,Movie,Clip: ACT 4 - Title after removing 1C - 2,1,2021,61 min,Action
8764,TV Show,Act 2 - Series 1,1,2021,2 Seasons,TV Shows
7238,Movie,Clip: ACT 4 - Title after removing 1C - 5,1,2021,61 min,Action
8728,TV Show,ACT 2 - Series 6,1,2021,1 Season,TV Shows
8727,TV Show,Act 5 - Series 1,1,2021,3 Seasons,Action
8726,TV Show,Act 5 - Series 2,1,2021,1 Season,TV Shows
7245,Movie,ACT 4 - Title after removing 1C - 1,1,2021,61 min,Action
6418,TV Show,Series before 1C onboarding - 2,1,2021,2 Seasons,"Action, Animation"
6628,TV Show,Series before 1C onboarding - 1,1,2021,1 Season,TV Shows
8724,TV Show,Act 6 - Series 2,1,2021,1 Season,TV Shows
7127,Movie,Act 4 - Title before 1C onboarding 2,1,2021,61 min,Action
9462,Movie,Clip: Act 5 - Title 5,1,2021,61 min,Animation
7139,Movie,Clip: 1,1,2021,3 min,Action
8708,TV Show,Clip: ACT 2 - Series 5,1,2021,1 Season,TV Shows
8725,TV Show,Act 6 - Series 1,1,2021,1 Season,Action
7128,Movie,Act 4 - Title before 1C onboarding 1,1,2021,61 min,Action
8501,Movie,Act 6 - Title 1,1,2021,61 min,Action
7258,Movie,Clip: ACT 4 - Title after removing 1C - 4,1,2021,61 min,Comedy
8762,TV Show,Act 2 - Series 2,1,2021,2 Seasons,Action
8761,TV Show,Act 2 - Series 3,1,2021,2 Seasons,TV Shows
8760,TV Show,Act 2 - Series 4,1,2021,2 Seasons,Action
8759,TV Show,ACT 2 - Series 8,1,2021,1 Season,TV Shows
8758,Movie,ACT 2 - TITLE 6,1,2021,61 min,Action
7319,TV Show,Clip: ACT 3 Series post 1C 2,1,2021,1 Season,TV Shows
8757,Movie,ACT 2 - TITLE 7,1,2021,61 min,Action
6930,Movie,Title Post onboarding 8,1,2021,61 min,Action
9463,Movie,Clip: Act 5 - Title 3,1,2021,61 min,Action
8755,Movie,ACT 2 - TITLE 9,1,2021,61 min,Action
8753,TV Show,ACT 2 - Series 7,1,2021,1 Season,TV Shows
8752,TV Show,ACT 2 - Series 9,1,2021,1 Season,TV Shows
8502,Movie,Act 5 - Title 1,1,2021,61 min,Action
8763,TV Show,ACT 2 - Series 10,1,2021,1 Season,TV Shows
8756,Movie,ACT 2 - TITLE 8,1,2021,61 min,Action
6416,Movie,Title before 1C onboarding - 5,"1, 2, 3",2021,3 min,Drama
608,TV Show,THE IDOLM@STER.KR,"10 singers from Real Girls Project, Sung Hoon,...",2017,1 Season,TV Shows

In [15]:
df_amazon.cast = df_amazon.cast.replace("1","Sin Datos")
df_amazon.cast = df_amazon.cast.replace("1, 2, 3","Sin Datos")
df_amazon.sort_values(by=['cast'],ascending=True).head(36)

,type,title,cast,release_year,duration,listed_in
608,TV Show,THE IDOLM@STER.KR,"10 singers from Real Girls Project, Sung Hoon,...",2017,1 Season,TV Shows
2249,TV Show,Harmony with A R Rahman,"A R Rahman, Sajith Vijayan, Bahauddin Dagar, B...",2018,1 Season,"Arts, Entertainment, and Culture, Documentary"
2893,TV Show,Celebrity Ghost Stories,A. Jones,2011,3 Seasons,TV Shows
3793,Movie,Phantasm: Remastered,"A. Michael Baldwin, Bill Thornbury, Reggie Ban...",1979,89 min,"Horror, Science Fiction"
8527,Movie,Thiruvarul,"A. V. M. Rajan, Jaya, Nagesh, Sukumari",1975,138 min,Drama
8617,Movie,Thunaivan,"A. V. M. Rajan, Sowkar Janaki, Nagesh, Sachu",1969,155 min,Drama
6783,Movie,Annaiyum Pithavum,"A. V. M. Rajan, Vanisri, Sivakumar, Lakshmi, M...",1969,154 min,"Comedy, Drama"
2408,Movie,Funny Lesson Learn Colors with Cows and Balls ...,ABC Kids Studio,2018,2 min,"Animation, Kids"
6162,Movie,Deva Rickshawala,"ABHINAV KUMAR, VERSA RITTU, SHASHI BHUSAN, RAM...",2021,127 min,"Drama, Romance"
6491,Movie,Flat No. 609,"ABIR CHATTERJEE, TANUSREE, RUDRANIL GHOSH",2018,103 min,Horror
5434,Movie,Sound of Water,"ABRAAM PANDEY, JASHPREET KAUR",2021,117 min,Romance
7509,Movie,Synchronicity,"AJ Bowen, Brianne Davis, Michael Ironside, Cha...",2016,100 min,"Fantasy, Science Fiction, Suspense"
5879,Movie,Meera Mathur,"ALAN KAPOOR, KHUSHI RAJPOOT, ASHWIN KAPOOR, RA...",2021,91 min,Drama
23,TV Show,ZeroZeroZero,"ANDREA RISEBOROUGH, HAROLD TORRES, CLAUDIA PIN...",2020,1 Season,TV Shows
8630,Movie,The End Will Be Spectacular - Ji Bo Azadiyê,"ARJÎN BAYSAL, DELÎL PÎRAN, CÎHAN SEVE, SAHÎRE ...",2019,142 min,"Action, Drama"
6482,Movie,Maayanadhi,"Aadukalam Naren, Venba, Abi Saravanan, Appukutty",2020,113 min,Romance
5287,Movie,Fanaa,"Aamir Khan, Kajol, Rishi Kapoor, Lara Dutta, S...",2006,168 min,Romance
4564,Movie,Raja Hindustani,"Aamir Khan, Karisma Kapoor, Suresh Oberoi, Joh...",1996,170 min,"Drama, Romance"
4877,Movie,Love Ni Bhavai,"Aarohi Patel, Malhar Thakar, Pratik Gandhi",2017,163 min,"Comedy, Drama, Kids"
8348,Movie,25 Sets,"Aaron Berg, Jim Gaffigan, Sal Vulcano, Dave At...",2019,58 min,"Arts, Entertainment, and Culture, Comedy, Docu..."
3024,Movie,"Blood, Sand and Gold","Aaron Costa Ganis, Monica West, Christopher Re...",2017,89 min,"Action, Adventure, Comedy"
1852,Movie,Line of Duty,"Aaron Eckhart, Dina Meyer, Giancarlo Esposito",2019,99 min,"Action, Adventure"
4404,Movie,Wander,"Aaron Eckhart, Tommy Lee Jones, Katheryn Winni...",2020,93 min,"Action, Adventure, Suspense"
6430,Movie,Spirit of the Game,"Aaron Jakubenko, Kevin Sorbo, Wade Briggs",2016,98 min,"Drama, Faith and Spirituality, Special Interest"
5406,TV Show,Underbelly: Chopper,"Aaron Jeffery, Todd Lasance, Vince Colosimo, E...",2018,1 Season,Drama
4073,Movie,Dummy,"Aaron Johnson, Thomas Grant, Emma Catherwood, ...",2008,85 min,Drama
5154,Movie,Floating City,"Aaron Kwok, Josie Ho, Annie Liu",2012,105 min,"Drama, Romance"
2708,Movie,Daydream Believers: The Monkees Story,Aaron Lohr,2000,92 min,"Action, Arts, Entertainment, and Culture, Drama"
824,Movie,T-Rex Ranch Dinosaur Adventures,"Aaron Michael, LB",2021,35 min,Kids
5189,TV Show,Dinosaur Quests with The Park Rangers by T-Rex...,"Aaron Michael, LB",2019,6 Seasons,Kids
4068,Movie,Goldstone,"Aaron Pederson, Alex Russell, Cheng Pei-Pei, D...",2018,110 min,"Action, Drama"
1535,Movie,Mystery Road,"Aaron Pederson, Hugo Weaving, Ryan Kwanten",2013,121 min,"Action, Drama, Suspense"
5487,Movie,The Curse Of The Blind Dead,"Aaron Stielstra, Alice Zanini, Francesca Pelle...",2021,88 min,"Horror, Suspense"
4046,Movie,The Wall,"Aaron Taylor-Johnson, John Cena, Laith Nakli",2017,90 min,"Drama, Military and War, Suspense"
6088,Movie,Hajar Juni Samma,"Aaryan Sigdel, Swastima Khadka, Priyanka Karki...",2019,123 min,Romance
1794,Movie,Loveyatri - The Journey of Love,"Aayush Sharma, Warina Hussain, Ronit Roy Bose,...",2018,133 min,"Comedy, International, Romance"

In [16]:
#Imprimimos una sample para darnos una idea de cómo quedó el dataset luego de la limpieza, encontramos valores "Sin Datos" en lugar de Nulls o valores anómalos.
df_amazon.sample(10)

,type,title,cast,release_year,duration,listed_in
1305,TV Show,Pinkfong! Outer Space Songs,Sin Datos,2021,2 Seasons,"Animation, Kids"
7369,Movie,Valley of Ditches,"Amanda Todisco, Russell Bradley Fenton, Jeremy...",2017,80 min,"Horror, Suspense"
163,TV Show,Wakaalat From Home,"Sumeet Vyas, Nidhi Singh, Kubbra Sait, Gopal D...",2020,1 Season,Comedy
7632,TV Show,Def Comedy Jam,"Steve Harvey, Kid Capri, James Hannah, Jack Sh...",1992,7 Seasons,"Arts, Entertainment, and Culture, Comedy"
8820,Movie,Underworld,"Denis Leary, Joe Mantegna, Annabella Sciora, L...",1997,95 min,"Comedy, Suspense"
4054,Movie,Netherbeast Incorporated,"Steve Burns, Dave Foley, Judd Nelson",2007,89 min,"Comedy, Science Fiction"
5300,Movie,Befikre,"Ranveer Singh, Vaani Kapoor, Armaan Ralhan, Ju...",2016,130 min,"Comedy, Drama, International"
7351,Movie,The Bedroom Window,"Steve Guttenberg, Elizabeth McGovern, Isabelle...",1987,113 min,Suspense
9148,Movie,More Sex and The Single Mom,"Gail O'Grady, Grant Show, Chelsea Hobbs",2005,90 min,"Drama, Romance"
1484,Movie,Night Falls on Manhattan,"Andy Garcia, Lena Olin, Richard Dreyfuss, Ian ...",1997,114 min,Drama

Empiezo la limpieza de mi dataset "df_disney".

In [17]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [18]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_disney = df_disney.drop(columns=["show_id","director","country","date_added","rating","description"])

In [19]:
#df_disney.count().sum()
#df_disney.isnull().sum().sum()

print("El número total de registros en el dataset es de:",df_disney.count().sum(),"\nEl número de registros faltantes es de:",df_disney.isnull().sum().sum())

El número total de registros en el dataset es de: 8510
El número de registros faltantes es de: 190

In [20]:
#Traigo los valores faltantes por columna
df_disney.isnull().sum()

type              0
title             0
cast            190
release_year      0
duration          0
listed_in         0
dtype: int64

In [21]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_disney = df_disney.fillna("Sin Datos")

In [22]:
print("El número total de registros en el dataset es de:",df_disney.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_disney.isnull().sum().sum())

El número total de registros en el dataset es de: 8700
El número de registros faltantes luego del fillna() es de: 0

In [23]:
#Traigo los valores faltantes por columna luego del fillna()
df_disney.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [24]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_disney.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Disney es de:",df_disney.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Disney es de: 1450

In [25]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_disney.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Luego de correr el código sobre cada columna, no encontramos valores anómalos.

Empiezo la limpieza de mi dataset "df_hulu".

In [26]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [27]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_hulu = df_hulu.drop(columns=["show_id","director","country","date_added","rating","description"])

In [28]:
#df_hulu.count().sum()
#df_hulu.isnull().sum().sum()

print("El número total de registros en el dataset es de:",df_hulu.count().sum(),"\nEl número de registros faltantes es de:",df_hulu.isnull().sum().sum())

El número total de registros en el dataset es de: 14886
El número de registros faltantes es de: 3552

In [29]:
#Traigo los valores faltantes por columna
df_hulu.isnull().sum()

type               0
title              0
cast            3073
release_year       0
duration         479
listed_in          0
dtype: int64

In [30]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_hulu = df_hulu.fillna("Sin Datos")

In [31]:
print("El número total de registros en el dataset es de:",df_hulu.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_hulu.isnull().sum().sum())

El número total de registros en el dataset es de: 18438
El número de registros faltantes luego del fillna() es de: 0

In [32]:
#Traigo los valores faltantes por columna luego del fillna()
df_hulu.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [33]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_hulu.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Hulu es de:",df_hulu.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Hulu es de: 3073

In [34]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_hulu.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Luego de correr el código sobre cada columna, no encontramos valores anómalos.

Empiezo la limpieza de mi dataset "df_netflix".

In [35]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [36]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_netflix = df_netflix.drop(columns=["show_id","director","country","date_added","rating","description"])

In [37]:
#df_netflix.count().sum()
#df_netflix.isnull().sum().sum()

print("El número total de registros en el dataset es de:",df_netflix.count().sum(),"\nEl número de registros faltantes es de:",df_netflix.isnull().sum().sum())

El número total de registros en el dataset es de: 52014
El número de registros faltantes es de: 828

In [38]:
#Traigo los valores faltantes por columna
df_netflix.isnull().sum()

type              0
title             0
cast            825
release_year      0
duration          3
listed_in         0
dtype: int64

In [39]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_netflix = df_netflix.fillna("Sin Datos")

In [40]:
print("El número total de registros en el dataset es de:",df_netflix.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_netflix.isnull().sum().sum())

El número total de registros en el dataset es de: 52842
El número de registros faltantes luego del fillna() es de: 0

In [41]:
#Traigo los valores faltantes por columna luego del fillna()
df_netflix.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [42]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_netflix.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Netflix es de:",df_netflix.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Netflix es de: 8807

In [43]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_netflix.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Luego de correr el código sobre cada columna, no encontramos valores anómalos.

<h3>Concatenamos las 4 tablas en un dataframe.<h3>

In [44]:
#Comenzamos por ver el número de filas de cada tabla para darnos una idea de cómo puede quedar el dataframe concatenado.

print("Número de filas por tabla","\nAmazon: ",df_amazon.shape[0])
print("Disney: ",df_disney.shape[0])
print("Hulu:   ",df_hulu.shape[0])
print("Netflix:",df_netflix.shape[0])

Número de filas por tabla
Amazon:  9668
Disney:  1450
Hulu:    3073
Netflix: 8807

In [45]:
#Insertamos una columna "platform" a cada una de las tablas para saber a qué plataforma refiere la fila.

df_amazon = df_amazon.assign(platform="amazon")
df_disney = df_disney.assign(platform="disney")
df_hulu = df_hulu.assign(platform="hulu")
df_netflix = df_netflix.assign(platform="netflix")

In [46]:
df_amazon.head()

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon

In [47]:
#Concatenamos verticalmente las 4 tablas en un solo dataframe "df_final" y utilizamos ignore_index para resetear los índices.

df_final = pd.concat([df_amazon,df_disney,df_hulu,df_netflix], ignore_index=True)
df_final.shape

(22998, 7)

In [48]:
#Traemos una sample del df_final para verificar que se haya concatenado de manera correcta.

df_final.head()

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon

In [49]:
# Separo mi columna 'duration' en 'duration_int' y 'duration_type'

def sep_duration(df):

    df = df.join(df.duration.str.split(expand=True))

    df.rename(columns={0:'duration_int',
                                1:'duration_type'}, inplace=True)
    return df

In [50]:
df_final = sep_duration(df_final)

In [51]:
df_final.head()

,type,title,cast,release_year,duration,listed_in,platform,duration_int,duration_type
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon,113,min
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon,110,min
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon,74,min
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon,69,min
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon,45,min

In [52]:
# Separo mi columna 'duration' según valor y tipo

df_final.duration_int = df_final.duration_int.replace('Sin',0)
df_final.duration_type = df_final.duration_type.replace('Dato','Sin Dato')

In [53]:
df_final.duration_int = df_final.duration_int.astype('int64')

In [54]:
# Normalizo mi columna duration_type convirtiendo 'Season' a 'season' para que mantenga la coherencia con 'min' que se encuentra en minúscula

df_final.duration_type = df_final.duration_type.replace('Season','season')
df_final.duration_type = df_final.duration_type.replace('Seasons','season')

<h3>Comenzamos con la creación de funciones para realizar las consultas.<h3>

Función get_max_duration.

In [55]:
df_final.duration_int.dtype

dtype('int64')

In [101]:
def get_max_duration(anio,plataforma,tipo):
    #Convierto anio en int en caso de recibirlo como una string
    anio = int(anio)
    #Creo mis tuplas con mis posibles opciones para verificar que el input se encuentre dentro de las mismas.
    tuple_plataformas = ("amazon","disney","hulu","netflix")
    tuple_tipo = ("min","season")
    #Doy las condiciones que deben ser cumplidas para entrar al análisis, de no ser así, pido que se verifiquen los datos ingresados.
    if (anio in range(df_final.release_year.min(),df_final.release_year.max()+1)) and (plataforma in (tuple_plataformas)) and (tipo in tuple_tipo):
        #Busco el ID de la película/serie con mayor duración que se encuentre en el Dataframe que me devuelve la Query cuyo año, plataforma y tipo recibo como parámetros.
        id_final = df_final.query(f"release_year == {anio} and platform == '{plataforma}' and duration_type == '{tipo}'").duration_int.idxmax()
        #Utilizo la ID recibida para crear un diccionario con los datos del dataframe en esa ID, luego extraigo los values que me interesan informarle al usuario que realiza la consulta.
        return f'{df_final[id_final:id_final+1].to_dict().get("title").get(id_final)} Tiene la mayor duración: {df_final[id_final:id_final+1].to_dict().get("duration").get(id_final)}'
    else:
        return f"Faltan datos para su consulta o alguno de los parámetros es incorrecto, por favor verifique que los datos ingresados."

In [102]:
get_max_duration("2013","disney","season")

'Dr. Oakley, Yukon Vet Tiene la mayor duración: 10 Seasons'

In [58]:
def get_count_platform(plataforma):
    #Creo mi tupla con mis posibles opciones para verificar que el input se encuentre dentro de las mismas.
    tuple_plataformas = ("amazon","disney","hulu","netflix")
    #Doy las condiciones que deben ser cumplidas para entrar al análisis, de no ser así, pido que se verifiquen los datos ingresados.
    if plataforma in (tuple_plataformas):
        #Creo un diccionario con el conteo de los títulos que se encuentran en el Dataframe que me devuelve la Query cuya plataforma recibo como parámetro, agrupado por tipo (Movie/TV Show).
        dict = df_final.query(f"platform == '{plataforma}'").groupby(by=['type']).title.count().to_dict()
        #Extraigo los values que me interesan informarme al usuario que realiza la consulta.
        return f'El conteo de la plataforma {plataforma} es: {dict.get("Movie")} películas y {dict.get("TV Show")} series'
    else:
        return f"Faltan datos para su consulta o alguno de los parámetros es incorrecto, por favor verifique que los datos ingresados."

In [59]:
get_count_platform("netflix")

'El conteo de la plataforma netflix es: 6131 películas y 2676 series'

In [60]:
def get_listedin(genero):
    #Utilizo un str.contains case_sensitive=False sobre mi columna listed_in, luego agrupo por 'platform' y realizo un conteo de los títulos para convertir estos datos en un diccionario.
    #En este caso, no utilizo ningún if para dar condiciones ya que los generos en 'listed_in' no se encuentran normalizados por su gran variedad, por ejemplo, existen valores para 'Comedy' y para 'Comedies'
    conteo = df_final[df_final.listed_in.str.contains(genero, case=False)].groupby(by=['platform']).title.count().to_dict()
    #Extraigo los values que me interesan informarme al usuario que realiza la consulta.
    return f'El género {genero} aparece {conteo.get("amazon")} veces en amazon, {conteo.get("disney")} veces en disney, {conteo.get("hulu")} veces en hulu y {conteo.get("netflix")} veces en netflix'

In [96]:
get_listedin('comedy')

'El género "comedy" aparece 2099 veces en amazon, 526 veces en disney, 667 veces en hulu y 399 veces en netflix'

In [99]:
def get_actor(plataforma, anio):
    #Convierto anio en int en caso de recibirlo como una string
    anio = int(anio)
    #Creo mi tupla con mis posibles opciones para verificar que el input se encuentre dentro de las mismas.
    tuple_plataformas = ("amazon","disney","hulu","netflix")
    #Doy las condiciones que deben ser cumplidas para entrar al análisis, de no ser así, pido que se verifiquen los datos ingresados.
    if (anio in range(df_final.release_year.min(),df_final.release_year.max()+1)) and (plataforma in (tuple_plataformas)):
        #Creo mi lista de actores final vacía
        actor_list = []
        #Creo una lista del cast por película/TV_Show que se encuentren en el Dataframe que me devuelve la Query cuyo año y plataforma recibo como parámetros.
        cast_list = df_final.query(f"platform == '{plataforma}' and release_year == {anio}").cast.tolist()
        #Divido los actores del Cast y los agrego a una lista temporal de actores a la que luego le excluyo los valores 'Sin Datos' para mi lista de actores final.
        for i in range(len(cast_list)):
            actor_list_temp = cast_list[i].split(",")
            for j in range(len(actor_list_temp)):
                if actor_list_temp[j] != 'Sin Datos':
                    actor_list.append(actor_list_temp[j])
        #Convierto en diccionario mi lista de actores pero únicamente con el valor del que más apariciones tiene.
        dict_actor = dict(zip(actor_list,map(lambda x: actor_list.count(x),actor_list)))
        #Consigo la Key del diccionario que corresponde al Actor/actriz con más apariciones.
        max_actor = max(dict_actor, key=dict_actor.get)
        #Consigo el Value de apariciones de dicho Actor/actriz
        max_actor_appearances = dict_actor.get(max_actor)
        #Extraigo los values que me interesan informarme al usuario que realiza la consulta.
        return f'El actor/actriz con mayor número de apariciones en la plataforma {plataforma} el año {anio} es {max_actor} con {max_actor_appearances} apariciones.'
    else:
        return f"Faltan datos para su consulta o alguno de los parámetros es incorrecto, por favor verifique que los datos ingresados."

In [100]:
get_actor("netflix", "2018")

'El actor/actriz con mayor número de apariciones en la plataforma "netflix" el año 2018 es " Andrea Libman" con 8 apariciones.'